<h1>Hoagies To Go</h1>
<%=link_to 'New Order', new_hoagy_path %>
<p class="title1">My previous Orders</p>
<table>
  <tr>
    <th>Id</th>
    <th>Order No.</th>
    <th>Base</th>
    <th>Count</th>
  </tr>
  <% @hoagies.each do |hoagie| %>
    <tr>
      <td><%= hoagie.id %></td>
      <td><%= hoagie.order_id %></td>
      <td><%= hoagie.base_id %></td>
      <td><%= hoagie.count %></td>
    </tr>
  <% end %>
</table>
