<h1>New order</h1>
<%= form_with scope: :hoagie, url: hoagies_path, local: true do |form| %>
  <% if @hoagie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@hoagie.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @hoagie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :base_id %><br>
    <%= form.text_field :base_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
