<ul>
  <%= f.fields_for :hoagies do |hoagie| %>
    <li>
      <%= hoagie.label :base_id %>
      <%= hoagie.text_field :base_id %>
      <%= hoagie.label :count %>
      <%= hoagie.text_field :count %>
    </li>
  <% end %>
</ul>