<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@order.errors.count, "error") %> prohibited
        this order from being saved:
      </h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <%= f.fields_for :hoagies do |hoagie| %>
      <li>
        <%= hoagie.label :base_id %>
        <%= hoagie.collection_select(:base_id, ::Base.all, :id, :name) %>
        <%= hoagie.label :count %>
        <%= hoagie.text_field :count %>
      </li>
      <%= hoagie.fields_for :ordered_additionallies do |extra| %>
        <li>
          <%= extra.label :ingredient_id %>
          <%= extra.collection_select(:ingredient_id, ::Ingredient.all, :id, :name) %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
