<h1>Orders</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Customer</th>
    <th>Status</th>
    <th>Price</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= Customer.find(order.customer_id).first_name %> <%= Customer.find(order.customer_id).last_name %></td>
      <td><%= order.status %></td>
      <td><%= order.price %></td>
    </tr>
  <% end %>
</table>
