<%= form_with scope: @review, url: reviews_path, local: true do |form| %>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :customer_id %><br>
    <%= form.text_field :customer_id %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.label :grade %><br>
    <%= form.text_field :grade %>
  </p>
  <p>
    <%= form.label :selfie %><br>
    <%= form.file_field :selfie %>
  </p>
  <p>
    <%= form.submit %> | <%= link_to 'Back', reviews_path %>
  </p>
<% end %>
