<%= form_with model: @review, local: true do |form| %>
  <%# <%= form_with model: @review, url: reviews_path, local: true do |form| %>
    <p>
      <%= form.label :customer_id %><br>
      <%= form.text_field :customer_id %>
    </p>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.label :grade %><br>
      <%= form.text_field :grade %>
    </p>
    <p>
      <%= form.label :selfie %><br>
      <%= form.file_field :selfie %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  | <%= link_to 'Back', reviews_path %>
  <%# Code vorübergehend weg  %>
  <p>
    <%# <p class = "title1">Selfie</p> %>
    <%# <%= form.file_field :selfie %> %>
    <%# <p class = "title1">Title</p> %>
    <%# <%= form.text_field :title %> %>
    <%# <p class = "title1">Your Review</p> %>
    <%# <%= form.text_field :text %> %>
  </p>
