<%= form_with scope: :review, url: reviews_path, local: true do |form| %>



<p>
  <p class = "title1">Selfie</p>
  <%= form.file_field :selfie %>

  <p class = "title1">Title</p>
  <%= form.text_field :title %>

  <p class = "title1">Your Review</p>
  <%= form.text_field :text %>
</p>

<p>
  <%= form.submit %> | <%= link_to 'Back', reviews_path %>
</p>
<% end %>
