<h1>Customers Opinions</h1>

<%=link_to 'New Order', new_hoagy_path %> |
<%=link_to 'New Review', new_review_path %>

<table>
  <tr>
    <th>Customer</th>
    <th>Image</th>
    <th>Grade</th>
    <th>Title</th>
    <th>Review Text</th>
    <th>Comments</th>    
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.selfie %></td>
      <td><%= review.grade %></td>
      <td><%= review.title %></td>
      <td><%= review.text %></td>
      <td><%= link_to 'See Comments', review_path(review) %></td>

    </tr>
  <% end %>
</table>

<%#  Code vorerst rausgenommen: %>
<%# <%= link_to 'Add Comment', new_comment_path(review) %> %>
