<h1>Bases</h1>
<%=button_to 'Order your Hoagie now!', new_order_path, :method => :get %>
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <% @bases.each do |base| %>
    <tr>
      <td><%= base.id %></td>
      <td><%= base.name %></td>
      <td><%= base.description %></td>
      <td><%= base.price %></td>
    </tr>
  <% end %>
</table>
